body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.border-1 {
	border-radius: 1em;
}

.border-2 {
	border-radius: .5em;
	border: none;
}

.height-100 {
	height: 100%;
}

.flex {
	display: flex;
}

.block {
	display: block;
}

.mb-4 {
	margin-bottom: .5em;
}

.wrapper {
	height: 500px;
	width: 60%;
	margin: 0 auto;
	border: 2px solid #bdbdbd;
	box-shadow: -8px 7px 10px 0px rgba(50, 50, 50, 0.52);
	overflow: hidden;
}

.gift {
	padding: .25em;
	height: calc(100% - 8px);
	background: linear-gradient(0deg, rgba(31,30,29,1) 0%, rgba(78,76,72,1) 35%, rgba(162,146,146,1) 100%);
}

.form {
	width: 50%;
	padding: .5em;
}

.img {
	background-color: black;
	width: 50%;
	/*height: calc(100% - 8px);*/
}

.button {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin-right: .25em;
}

.button.one {
	background-color: #e0e0ea;
}

.button.two {
	background-color: #75757d;
}

.button.three {
	background-color: #343435;
}

form {
	height: calc(100% - 26px);
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.input-container {
	height: 50%;
}

:focus {
	outline: none;
}

.button:focus {
	outline: none;
}

input {
	padding: .5em;
}